In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot

In [2]:
df = pd.read_csv(r"C:\Users\anees\Downloads\healthcare_dataset.csv")

In [128]:
df1

,Age,Gender,Blood Type,Medical Condition,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,30,Male,B-,Cancer,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,62,Male,A+,Obesity,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,76,Female,A-,Obesity,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,28,Female,O+,Diabetes,Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,43,Female,AB+,Cancer,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal
...,...,...,...,...,...,...,...,...,...,...,...
55495,42,Female,O+,Asthma,Blue Cross,2650.714952,417,Elective,2020-09-15,Penicillin,Abnormal
55496,61,Female,AB-,Obesity,Cigna,31457.797307,316,Elective,2020-02-01,Aspirin,Normal
55497,38,Female,B+,Hypertension,UnitedHealthcare,27620.764717,347,Urgent,2020-08-10,Ibuprofen,Abnormal
55498,43,Male,O-,Arthritis,Medicare,32451.092358,321,Elective,2019-05-31,Ibuprofen,Abnormal
55499,53,Female,O+,Arthritis,Aetna,4010.134172,448,Urgent,2024-04-29,Ibuprofen,Abnormal

In [3]:
df1 = df.drop(["Name","Date of Admission","Hospital","Doctor"],axis = 1)

In [4]:
df2 = df1.drop(["Room Number","Discharge Date"],axis = 1)

In [5]:
df2

,Age,Gender,Blood Type,Medical Condition,Insurance Provider,Billing Amount,Admission Type,Medication,Test Results
0,30,Male,B-,Cancer,Blue Cross,18856.281306,Urgent,Paracetamol,Normal
1,62,Male,A+,Obesity,Medicare,33643.327287,Emergency,Ibuprofen,Inconclusive
2,76,Female,A-,Obesity,Aetna,27955.096079,Emergency,Aspirin,Normal
3,28,Female,O+,Diabetes,Medicare,37909.782410,Elective,Ibuprofen,Abnormal
4,43,Female,AB+,Cancer,Aetna,14238.317814,Urgent,Penicillin,Abnormal
...,...,...,...,...,...,...,...,...,...
55495,42,Female,O+,Asthma,Blue Cross,2650.714952,Elective,Penicillin,Abnormal
55496,61,Female,AB-,Obesity,Cigna,31457.797307,Elective,Aspirin,Normal
55497,38,Female,B+,Hypertension,UnitedHealthcare,27620.764717,Urgent,Ibuprofen,Abnormal
55498,43,Male,O-,Arthritis,Medicare,32451.092358,Elective,Ibuprofen,Abnormal
55499,53,Female,O+,Arthritis,Aetna,4010.134172,Urgent,Ibuprofen,Abnormal

In [87]:
df["Age"].max()

89

In [88]:
df["Age"].min()

13

In [9]:
df["Billing Amount"].max()

52764.276736469175

In [10]:
df["Billing Amount"].min()

-2008.4921398591305

In [6]:
df2["Medical Condition"] = df2["Medical Condition"].map({"Cancer":1,"Obesity":2,"Diabetes":3,"Asthma":4,"Hypertension":5,"Arthritis":6})

In [7]:
df2["Insurance Provider"] = df2["Insurance Provider"].map({"Blue Cross":1,"Medicare":2,"Aetna":3,"UnitedHealthcare":4,"Cigna":5})

In [8]:
df2["Blood Type"] = df2["Blood Type"].map({"B-":1,"A+":2,"A-":3,"O+":4,"AB+":5,"AB-":6,"B+":7,"O-":8})

In [9]:
df2["Medication"] = df2["Medication"].map({"Paracetamol":1,"Ibuprofen":2,"Aspirin":3,"Penicillin":4,"Lipitor":5})

In [10]:
df2["Test Results"] = df2["Test Results"].map({"Normal":1,"Inconclusive":2,"Abnormal":3})

In [11]:
df2["Admission Type"] = df2["Admission Type"].map({"Urgent":1,"Emergency":2,"Elective":3})

In [12]:
df2["Gender"] = df2["Gender"].map({"Male":1,"Female":2})

In [104]:
df2["Medical Condition"].unique()

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [13]:
df["Insurance Provider"].unique()

array(['Blue Cross', 'Medicare', 'Aetna', 'UnitedHealthcare', 'Cigna'],
      dtype=object)

In [14]:
df["Blood Type"].unique()

array(['B-', 'A+', 'A-', 'O+', 'AB+', 'AB-', 'B+', 'O-'], dtype=object)

In [15]:
df["Admission Type"].unique()

array(['Urgent', 'Emergency', 'Elective'], dtype=object)

In [16]:
df["Medication"].unique()

array(['Paracetamol', 'Ibuprofen', 'Aspirin', 'Penicillin', 'Lipitor'],
      dtype=object)

In [19]:
df["Test Results"].unique()

array(['Normal', 'Inconclusive', 'Abnormal'], dtype=object)

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 55500 non-null  int64
 1   Gender              55500 non-null  int64
 2   Blood Type          55500 non-null  int64
 3   Medical Condition   55500 non-null  int64
 4   Insurance Provider  55500 non-null  int64
 5   Billing Amount      55500 non-null  float64
 6   Admission Type      55500 non-null  int64
 7   Medication          55500 non-null  int64
 8   Test Results        55500 non-null  int64
dtypes: float64(1), int64(8)
memory usage: 3.8 MB

In [14]:
df2

,Age,Gender,Blood Type,Medical Condition,Insurance Provider,Billing Amount,Admission Type,Medication,Test Results
0,30,1,1,1,1,18856.281306,1,1,1
1,62,1,2,2,2,33643.327287,2,2,2
2,76,2,3,2,3,27955.096079,2,3,1
3,28,2,4,3,2,37909.782410,3,2,3
4,43,2,5,1,3,14238.317814,1,4,3
...,...,...,...,...,...,...,...,...,...
55495,42,2,4,4,1,2650.714952,3,4,3
55496,61,2,6,2,5,31457.797307,3,3,1
55497,38,2,7,5,4,27620.764717,1,2,3
55498,43,1,8,6,2,32451.092358,3,2,3
55499,53,2,4,6,3,4010.134172,1,2,3

In [25]:
#df2.to_csv("Health2.csv")

## Spliting into input and output

In [15]:
X = df2.drop("Medical Condition",axis = 1)
y = df2["Medical Condition"]

## Spliting into Training and testing

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=23)

In [18]:
X_train.shape

(44400, 8)

In [19]:
y_train.shape

(44400,)

## KNN

In [20]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error,r2_score

In [21]:
knn = KNeighborsRegressor()
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test) 
print(np.sqrt(mean_squared_error(y_test,y_pred)))

1.8333939383922195

## Linear regression

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

1.7162982591087752

## Decision Tree

In [24]:
from sklearn.tree import DecisionTreeRegressor

In [25]:
dt = DecisionTreeRegressor()
dt.fit(X_train,y_train)
y_pred = dt.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

2.2932529317563315

## SVD

In [96]:
from sklearn.svm import SVR

In [98]:
sv = SVR()
sv.fit(X_train,y_train)
y_pred = sv.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

1.740114263384661

In [42]:
!pip uninstall scikit-learn

^C

## Pickel

In [26]:
import pickle

In [27]:
pickle.dump(dt,open("dt.plk","wb"))

In [28]:
model = pickle.load(open("dt.plk","rb"))

In [29]:
model.predict([[50,2,3,2,6538.767,3,2,1]])[0]

C:\Users\anees\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

6.0

## KNN

In [130]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [30]:
df = pd.read_csv(r"C:\Users\anees\Data Analysis\Machine Learing\ML jupyter problems\Phase 2\Health.csv")

In [31]:
df

,Unnamed: 0,Age,Gender,Blood Type,Medical Condition,Insurance Provider,Billing Amount,Admission Type,Medication,Test Results
0,0,30,1,1,1,1,18856.281306,1,1,1
1,1,62,1,2,2,2,33643.327287,2,2,2
2,2,76,2,3,2,3,27955.096079,2,3,1
3,3,28,2,4,3,2,37909.782410,3,2,3
4,4,43,2,5,1,3,14238.317814,1,4,3
...,...,...,...,...,...,...,...,...,...,...
55495,55495,42,2,4,4,1,2650.714952,3,4,3
55496,55496,61,2,6,2,5,31457.797307,3,3,1
55497,55497,38,2,7,5,4,27620.764717,1,2,3
55498,55498,43,1,8,6,2,32451.092358,3,2,3
55499,55499,53,2,4,6,3,4010.134172,1,2,3

In [ ]:
lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))